@tailwind base;
@tailwind components;
@tailwind utilities;


.letstalk{
    background-color: #c9ff00;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-bottom: 8px;
    display: flex;
    overflow: hidden;
}

.service{
    background-image: url("https://cdn.prod.website-files.com/646c6ec121d9bb039374fb89/64e48a24b183ebd8d0c257d4_Vector-min.webp");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 0;
    display: inline-block;
    padding-left: 21px;
    padding-right: 10px;
}

.firstox{
    transform: rotateX(356deg);
}
.secondbox{
    position: relative;
    top: -224px;
    transform: rotateX(335deg);
}
.thirdbox{
    position: relative;
    top: -443px;
    transform: rotateX(327deg);
}
.fourthbox{
    position: relative;
    top: -667px;
    transform: rotateX(318deg);
}