@tailwind base;
@tailwind components;
@tailwind utilities;


.letstalk {
    background-color: #c9ff00;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-bottom: 8px;
    display: flex;
    overflow: hidden;
}

.service {
    background-image: url("https://cdn.prod.website-files.com/646c6ec121d9bb039374fb89/64e48a24b183ebd8d0c257d4_Vector-min.webp");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 0;
    display: inline-block;
    padding-left: 21px;
    padding-right: 10px;
}


.membership {
    background-image: url("https://cdn.prod.website-files.com/646c6ec121d9bb039374fb89/64e48a24b183ebd8d0c257d4_Vector-min.webp");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 0;
    display: inline-block;
    padding-left: 21px;
    padding-right: 10px;
}

.firstox {
    transform: rotateX(356deg);
}

.secondbox {
    position: relative;
    top: -224px;
    transform: rotateX(335deg);
}

.thirdbox {
    position: relative;
    top: -443px;
    transform: rotateX(327deg);
}

.fourthbox {
    position: relative;
    top: -667px;
    transform: rotateX(318deg);
}


/* services section css */


.Box {
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transition: 0.3s all;
}

.Boxwhite {
    background-color: rgb(255, 255, 255);
}

.Boxgreen {
    background-color: #d8fced;
}

.Boxyellow {
    background-color: #f3eb0e
}

.Boxblue {
    background-color: #6844e2;
}

.Boxpink {
    background-color: #fe6ae6;
}

.boxcontainer:hover .Boxyellow {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(-10deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;

}

.boxcontainer:hover .Boxblue {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(-22deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;

}

.boxcontainer:hover .Boxpink {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(-30deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition-duration: 300ms;
}

.boxcontainer:hover .Boxgreen {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(-38deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.boxcontainer:hover .Boxwhite {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(-45deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition-duration: 300ms;
}


.boxcontainer {
    perspective: 2000px;
    perspective-origin: 50% 0;
}

.gradientbutton {
    position: relative;
    padding: 15px 20px;
    background-color: transparent;
    border: none;
    z-index: 1;
    background-clip: padding-box;
}

.gradientbutton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    /* Same value as the button */
    padding: 2px;
    /* Adjust this value to match the desired border  */
    background: linear-gradient(60deg, #201f1f, #fafafc);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}

  
.gradientbutton:hover:before {
    background: linear-gradient(320deg, #201f1f, #fafafc);
}

.Devgradientbutton {
    position: relative;
    background-color: transparent;
    border: none;
    z-index: 1;
    background-clip: padding-box;
}

.Devgradientbutton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    /* Same value as the button */
    padding: 2px;
    /* Adjust this value to match the desired border  */
    background: linear-gradient(60deg, #ebebeb, #282828);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}


.Devgradientbutton:hover:before {
    background: linear-gradient(320deg, #ebebeb, #282828);
}
.Creative-gradientbutton {
    position: relative;
    background-color: transparent;
    border: none;
    z-index: 1;
    background-clip: padding-box;
}

.Creative-gradientbutton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    /* Same value as the button */
    padding: 2px;
    /* Adjust this value to match the desired border  */
    background: linear-gradient(60deg, #c8ff0030, #c9ff00);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}


.Creative-gradientbutton:hover:before {
    background: linear-gradient(320deg, #c8ff0030, #c9ff00);
}